/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 // https://github.com/duckyb/zmk-sweep?tab=readme-ov-file
 // https://github.com/duckyb/urchin

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 6000  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 15    // 10

#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
// #include <behaviors/mouse_move.dtsi>


&mmv {
    acceleration-exponent = <1>;      // 1
    time-to-max-speed-ms = <400>;     // 300
    delay-ms = <0>;                   // 0
};

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <0>;      // 300
    delay-ms = <0>;                   // 0
};

#define DEF     0
#define NUM     1
#define PRO     2
#define MED     3
#define NAV     4
#define BLU     5
#define MSE     6

#define BT0  &bt BT_SEL 0
#define BT1  &bt BT_SEL 1
#define BT2  &bt BT_SEL 2
#define BT3  &bt BT_SEL 3
#define BTN  &bt BT_NXT
#define BTP  &bt BT_PRV
#define BTC  &bt BT_CLR
#define BTCA  &bt BT_CLR_ALL
#define NO  &none
#define TR  &trans

#define CVOLU  &kp C_VOL_UP
#define CVOLD  &kp C_VOL_DN
#define CSNEX  &kp C_NEXT
#define CSPRE  &kp C_PREV

#define BOUT  &out OUT_TOG
#define BOUU  &out OUT_USB
#define BOUB  &out OUT_BLE

#define CBRID &kp C_BRI_DN
#define CBRIU &kp C_BRI_UP

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC SPACE>;
};

&lt {
    tapping-term-ms = <200>;
};
  
/ {
macros {
  #define OS_LEAD  &kp RALT &kp U  // OS specific sequence to initialize unicode
  #define OS_TRAIL &kp RET         // OS specific sequence to terminate unicode

  ntil: ntil { 
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <0>;
    tap-ms = <0>;
    bindings
      = <&macro_press &kp LALT>
      , <&macro_tap &kp N0 &kp N0 &kp F &kp N1>
      , <&macro_release &kp LALT>
      ;    
  };

  ntilup: ntilup { 
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <0>;
    tap-ms = <0>;
    bindings
      = <&macro_press &kp LALT>
      , <&macro_tap &kp N0 &kp N0 &kp D &kp N1>
      , <&macro_release &kp LALT>
      ;    
  };

  accut: accut { 
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <0>;
    tap-ms = <0>;
    bindings
      = <&macro_press &kp LALT>
      , <&macro_tap &kp N0 &kp N3 &kp N0 &kp N1>
      , <&macro_release &kp LALT>
      ;    
  };

  excldn: excldn { 
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <0>;
    tap-ms = <0>;
    bindings
      = <&macro_press &kp LALT>
      , <&macro_tap &kp N0 &kp N0 &kp A &kp N1>
      , <&macro_release &kp LALT>
      ;    
  };

  qmkdn: qmkdn {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <0>;
    tap-ms = <0>;
    bindings
      = <&macro_press &kp LALT>
      , <&macro_tap &kp N0 &kp N0 &kp B &kp F>
      , <&macro_release &kp LALT>
      ;    
  };

  pss: pss {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <15>;
    tap-ms = <10>;
    bindings 
        = <&kp I &kp P &kp S &kp U &kp M &kp E &kp S &kp S &kp E>
        ;
  };

  pss2: pss2 {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <15>;
    tap-ms = <10>;
    bindings 
        = <&kp LS(C) &kp A &kp M &kp P &kp N3 &kp S &kp T &kp R &kp N3 &kp N9 &kp DLLR &kp DLLR>
        ;
  };

  locks: locks {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <5>;
    tap-ms = <5>;
    bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp Q>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
  };

  spacl: spacl {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp LEFT>
        , <&macro_release &kp LCTRL>
        ;
  };
  
  spacr: spacr {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp RIGHT>
        , <&macro_release &kp LCTRL>
        ;
  };

  spacu: spacu {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp UP>
        , <&macro_release &kp LCTRL>
        ;
  };

  lbegin: lbegin {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp A>
        , <&macro_release &kp LCTRL>
        ;
  };

  lend: lend {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_press &kp LCTRL>
        , <&macro_tap &kp E>
        , <&macro_release &kp LCTRL>
        ;
  };

  copies: copies {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <5>;
    tap-ms = <5>;
    bindings
        = <&macro_press &kp LGUI &kp LSHFT>
        , <&macro_tap &kp N4>
        , <&macro_release &kp LGUI &kp LSHFT>
        ;
  };
};
};

/ {
  behaviors {    
    tp: tapping_preferred {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&kp>, <&kp>;
    };
  };
  conditional_layers {
    compatible = "zmk,conditional-layers";
    blu_layer {
        if-layers = <PRO MED>;
        then-layer = <BLU>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    // -----------------------------------------------------------------------------------------
    default_layer {
      display-name = "DEF";
      bindings = < 
      NO  &kp Q        &kp W      &tp LSHFT E  &kp R       &kp T        &kp Y  &kp U       &tp RSHFT I      &kp O          &kp P   NO       
      NO  &lt MED A    &lt MSE S  &lt NUM D    &lt PRO F   &kp G        &kp H  &lt PRO J   &lt NUM K        &kp L          &lt MED ENTER  NO 
      NO  &tp LCTRL Z  &lt NAV X  &kp C        &tp LALT V  &kp B        &kp N  &tp LALT M  &tp LCMD COMMA   &tp LCTRL DOT  &kp BSPC  NO 
      NO  NO           &tp LCMD TAB                                     &tp RSHFT SPACE    NO  NO  
      >;
    };

    // -----------------------------------------------------------------------------------------
    num_layer {
      display-name = "NUM";
      bindings = <
       TR  &excldn    &kp AT     &kp HASH   &kp DLLR   &kp PRCNT    &kp FSLH  &kp N7  &kp N8  &kp N9  &kp MINUS  TR
       TR  &kp GRAVE  &kp TILDE  &kp CARET  &kp AMPS   &kp STAR     &kp STAR   &kp N4  &kp N5  &kp N6  &kp PLUS  TR
       TR  TR         TR         TR         TR         &kp PLUS     &kp EQUAL  &kp N1  &kp N2  &kp N3  &copies  TR
       TR  TR         TR                                            &kp N0     TR  TR   
      >;
    };

    // -----------------------------------------------------------------------------------------
    prog_layer {
      display-name = "PRO";
      bindings = <
       TR  &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp BSLH  &kp LPAR   &kp RPAR   &kp AMPS   &kp UNDER  TR
       TR  &kp GRAVE  TR         &kp LT     &kp GT     &kp EQUAL      &kp LBKT  &kp RBKT   &kp LBRC   &kp RBRC   &kp DQT  TR
       TR  TR         &kp TILDE  &kp CARET  TR         TR             &kp SEMI  &kp COLON  &qmkdn     &kp QMARK  &kp SQT  TR
       TR  TR         &kp ESC                                     &mkp RCLK  TR  TR
      >;
    };

    // -----------------------------------------------------------------------------------------
    med_layer {
      display-name = "MED";
      bindings = <
        TR  TR  TR  TR  TR  TR      &lbegin    &lend      CVOLD    CVOLU      &kp C_PP  TR 
        TR  TR  TR  TR  TR  TR      &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT  &accut  TR
        TR  TR  TR  TR  TR  TR      &pss       &pss2      &ntil  &locks     &kp BSLH  TR
        TR  TR  TR                  TR         TR  TR
      >;
    };

    // -----------------------------------------------------------------------------------------
    nav_layer {
      display-name = "NAV";
      bindings = < 
        TR  TR  TR  TR  TR  TR           CBRID      CBRIU      CSPRE      CSNEX    &kp CAPS  TR
        TR  TR  TR  TR  TR  TR           &spacl     TR         &spacu     &spacr   &kp BSPC  TR
        TR  TR  TR  TR  TR  TR           &kp HOME   &kp PG_DN  &kp PG_UP  &kp END  &ntilup  TR
        TR  TR  TR                       TR         TR  TR 
      >;
    };

    // -----------------------------------------------------------------------------------------
    blu_layer {
      display-name = "BLU";
      bindings = <
        TR  BT0   BT1   BT2   BT3  BTC      BTC  BT3  BT2  BT1  BT0  TR
        TR  BTCA  TR    TR    BTP  BTN      TR   TR   TR   TR   TR  TR
        TR  BOUT  BOUU  BOUB  TR   TR       TR   TR   TR   TR   TR  TR
        TR  TR  TR                          TR   TR  TR 
      >;
    };

    // -----------------------------------------------------------------------------------------
    mse_layer {
      display-name = "MSE";
      bindings = < 
        TR  TR  TR  TR  TR  TR      TR              TR              TR            TR              &caps_word  TR
        TR  TR  TR  TR  TR  TR      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT TR  TR
        TR  TR  TR  TR  TR  TR      &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT TR  TR
        TR  TR  TR                  &mkp LCLK       TR  TR 
      >;
    };

  };
};
             
